@font-face {
	font-family: clock;
	src: url('../fonts/alarm clock.ttf');
}
body{
	background-color: black;
		
		background-size: cover;
	/*background-size: cover;*/
	/*background-position: center;*/
	/*background-attachment: fixed;*/
	height: 100px;

}
/*--------------------------right side--------------------------------------*/

/*the didital clock right*/



#clock{
	position: absolute;
	left: 44%;
	
	border-radius: 20%;
     display: inline-block;
	width: 8%;
	height: 25px;
	text-align: center;
	background-color: #808080b5;
	
	
	
}

#clock h1{
	padding-left: 5px;
	border-left: 2px solid white;
	display: inline-block;
	font-family: clock, Impact;
	font-size: 12px;
	color: white;
}

#ampm{
	font-size: 35px;
}

/*---------------------------------------------------------------------------------*/
/* ANALOG TEST right*/
.alltop{
	padding-top: 10%;
	height: 360px;
	width: 660px;
	/*ackground-color: rgba(255, 255, 255, 0.3);*/
}
img{
	position: relative;
	margin-left: 60%;
}
#cover{
	display: inline-block;
	
	position: relative;
	width: 182px;
	height: 182px;
	
	
	
	margin-right:  19.5%;
	margin-top: 19.5%;
	float: right;

}
#clockCircle{
	z-index: 1;
	display: inline-block;
	
	position: absolute;
	top: 15%;
	left: -2.5%;
	width: 100%;
	height: 330px;
	}
	.bal{
	position: absolute;
	left: 47.4%;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	margin: 0 auto;
  background: -webkit-radial-gradient(center center, circle , #ffffff, #837874 97%, #b4b2aa 100%);
  background-position:50% -12px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);


	}
	
	#ballh{

 position: absolute;
	left: 50.2%;
	bottom: 8%;
	height: 20px;
	width: 20px;
	
	border-radius: 50%;
	margin: 0 auto;
  background: -webkit-radial-gradient(center center, circle , #ffffff, #837874 97%, #b4b2aa 100%);
  background-position:50% -12px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
#secondsHand{
	position: absolute;
	left: 51%;
	bottom: 11%;
	background-color: red;
	height: 180px;
	width: 3px;
	margin: 0 auto;
	transform-origin: bottom;
	transition: all .1s linear;
}
#minuteshand{
	position: absolute;
	left: 50.8%;
	bottom: 11%;
	background-color: red;
	height: 135px;
	width: 5px;
	border-radius: 3px;
	margin: 0 auto;
	transform-origin: bottom;
	transition: all .1s linear;

}


#hourshand{
	position: absolute;
	left: 50.8%;
	bottom: 11%;
	background-color: red;
	height: 135px;
	width: 8px;
	margin: 0 auto;
	border-radius: 20px;
	transform-origin: bottom;
	transition: all .1s linear;
}

/*------------------------------left side-----------------------------------------------------*/
.support {
  
  box-shadow: 0 5px 5px rgba(0,0,0,0.4), 0 -1px 2px rgba(0,0,0,0.3);
}

.support::before {
  content:'';
  width:4px;
  height:220px;
  background:#fff;
  position:absolute;
  z-index:-1;
  transform:rotate(30deg);
  transform-origin:50% 0%;
  top:2%;
  left:48%;
  background: linear-gradient(left, #f3f3f3, #fff);
  box-shadow: 4px 3px 3px rgba(0,0,0,0.2), inset 1px 0 4px rgba(0,0,0,0.2);
}
.support::after {
  content:'';
  width:4px;
  height:220px;
  background:#fff;
  position:absolute;
  z-index:-1;
  transform:rotate(-30deg);
  transform-origin:50% 0%;
  top:2%;
  left:48%;
  background: linear-gradient(left, #f3f3f3, #fff);
  box-shadow: -2px 3px 3px rgba(0,0,0,0.2), inset 1px 0 4px rgba(0,0,0,0.2);
}